@using WebAspCore.ViewModel.ViewModels.Systems
@model List<FunctionViewModel>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Functions</h3>
            <ul class="nav side-menu">
                @foreach (var item in Model)
                {
                <li>
                    <a href="@item.URL"><i class="fa @item.IconCss"></i> @item.Name <span class=" nav child_menu"></span></a>
                    @*@if (Model.Any(x => x.ParentId == item.Id))
        fa fa-chevron-down
                    <ul class="nav child_menu">
                        @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                        {
                            <li><a href="@jitem.URL">@jitem.Name</a></li>

                        }
                    </ul>
                    }*@

                </li>
                }

            </ul>
        </div>
    </div>
